
  <link href="../assets/css/header.css" rel="stylesheet"/>
  <link href="../assets/css/footer.css" rel="stylesheet"/>
<link href="../assets/css/Coursestyle.css" rel="stylesheet"/>
<link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!---Header Contents---->


    <%- include('../common/header'); %>







    <!---Content---->


    <!--            Heading-Section                 -->


        <div class="container-fluid">
            <div class="container">
                <div class="about-heading"data-aos="fade-right">
                    <h1>Diploma In Computer Hardware & Networking (DCHN)</h1>
                </div>



            </div>
         </div>


  <!--            Diploma-Section                 -->

  <div class="container-fluid diploma-bg">

    <div class="container">

        <div class="course-details-box">

            <div class="course-content-box">
                <div class="courses-semester">
                <div class="content-box">
                    <div class="course-heading">
                        <h4 data-aos="fade-left">
                            About Our DCHN
                        </h4>
                    </div>


                            <div class="semester-i">
                                 <div class="about-course">
                                     <table>

                                        <tr data-aos="fade-up">
                                            <th>Semester-I</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Basic Computer Services Concept</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Number System</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Tools of the Trade</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Safety</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Environment Concerns</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>PC Bus Architectures</th>
                                        </tr>



                                        <tr data-aos="fade-up">
                                            <td>Pherpheral Devices</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Input Devices</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Output Devices</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>other Peripherals</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Installation and Upgradation</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Dissembling the computer</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Installation and upgrade</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Re-Assembling the Computer</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Troubleshooting Techniques</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Troubleshooting Resources</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Software Trouble Shooting</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Hardware trouble Shooting</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Printer Trouble Shooting</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Safety Environmental Concerns</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Installation & Using Windows</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Window 98 Installation</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Windows 2000/XP Insallation</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Updrading from windows</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Application Insallation & Configuration</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Application Basics</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Installing Applications</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Dealing with Older DOS/ Windows3X Applications</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Windows Based Utilities</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Introduction to Computer Operating system</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Types Of software</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Type of PC Operating System</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Operating System Terms & conceps</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Choosing an Operating System</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Using the Microsoft Operating System( CUI)</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>The Windows Interface</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Using the Command</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <td>Prompt ( MS-DOS)</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <td>Windows Configuration</td>
                                        </tr>



                                </table>

                            </div>






                         <div class="semester-ii">

                                    <table>

                                        <tr data-aos="fade-up">
                                            <th>Semester-II</th>
                                        </tr>
                                       <tr data-aos="fade-up">
                                            <th>Networking Fundamentals</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>What is Networking</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Network Media</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Connectivity Devices</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Expanding the Network</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Repeaters and Hubs, Switches Routers, Gateways</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Remote Access Connectivity</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>PSTN & ADSL</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <th>Sharing , Securing and Accessing File and folders</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Installing and Configuring</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>DNS</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>DHCP</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <th>Microsoft Networking Basics</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Installing Ntwoeking Harware  & software</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Configuring Windows to share Files and printers</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <td>Using Shared Resources</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <th>Network Protocols</th>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>OSI Model</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Protocol Stackjs</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Data Transmissions</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Activity Direcory</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Managing Users Computer</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>OU Group</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Software Deploying on Windows</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Examining The Network</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Scope of Network</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Network Topolgoes</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Bus</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Star</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Ring</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Mesh</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Hybrid</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Ethernet</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Taken Ring</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>ATM/FDDI,Frame Relay</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Examining TCP/IP</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>IP Addressing</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Sub Netting</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Super Netting</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>IP Routing</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <th>Networking and Interoperability</th>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>OSI Model</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Creating and Configuring</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Network and Dial Up</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Connection Managing server</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Website Management (IIS)</td>
                                        </tr>


                                </table>
                            </div>


                        </div>

                    </div>
                </div>


            </div>


            <div class="more-courses">

                <div class="more-content-box">







                    <div class="more-heading">
                        <h4 data-aos="fade-up">Course Details</h4>
                    </div>

                            <div class="coursefee-box">

                                    <table>
                                                <tr data-aos="fade-up">
                                                    <th>Course Fees:</th>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <td>Rs.1000/-</td>
                                                </tr>

                                                <tr data-aos="fade-up">
                                                    <th>Course Duration:</th>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <td>1 Year</td>
                                                </tr>

                                                <tr data-aos="fade-up">
                                                    <th>Registration Charges:</th>
                                                </tr>

                                                <tr data-aos="fade-up">
                                                    <td>Rs. 500/-</td>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <th>Study Material Charges:</th>
                                                </tr>

                                                <tr data-aos="fade-up">
                                                    <td>Rs. 700/-</td>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <th>Total Examination Charges:</th>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <td>Rs.1000/-</td>
                                                </tr>
                                                <tr data-aos="fade-up">
                                                    <td id="admission"> <a href="#">Admission Inquiry</a></td>
                                                </tr>






                                        </table>



                            </div>




























                        <div class="more-heading">
                            <h4 data-aos="fade-up">Related Courses</h4>
                        </div>

                        <div class="heading-content">
                                <ul>
                                    <li data-aos="fade-up"><a href="#">Diploma Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Certificate Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Digital Marketing</a></li>
                                    <li data-aos="fade-up"><a href="#">Female Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Teacher Courses</a></li>

                                </ul>

                        </div>



                </div>




            </div>


        </div>





    </div>

  </div>











    <!-- Arrow Down backgroud -->

    <div class="arrow bounce">
      <a class="fa fa-arrow-up fa-2x" href="#"></a>
    </div>














    <!-- Fixed backgroud -->



  <div class="container-fluid Back-img" data-aos="fade-up">

      <div class="fixed-img-Title">

          <div class="title-scroll"data-aos="fade-right">
               <h3>We Have 107+ million learners around the world are building new skills and confidence.</h3>
           </div>

           <div class="para-scroll"data-aos="fade-up">
               <p><b>We believe</b> Learning is the source of human progress. Lal Bahadru Shastri Training Institute is the world online / offline learning platform that offers anyone, anywhere access to online courses</p>
          </div>

          <span data-aos="fade-right"><a href="#">Hear From Our Community</a></span>

      </div>

  </div>






  <!---Contents----->

  <%- include('../common/footer'); %>



      <!-- JavaScript Bundle with Popper -->
      <script src="../../assets/js/jquery-3.6.1.min.js"></script>
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="../../assets/js/script.js"></script>


  <script>
      AOS.init();
    </script>
