
  <link href="../assets/css/header.css" rel="stylesheet"/>
  <link href="../assets/css/footer.css" rel="stylesheet"/>
    <link href="../assets/css/style.css" rel="stylesheet"/>
<link href="../assets/css/Coursestyle.css" rel="stylesheet"/>
<link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!---Header Contents---->


    <%- include('../common/header'); %>







    <!---Content---->
     <!--------------------------Cursor Images--------->


     <!-- <div class="cursor"></div> -->



    <!--------------------------Loader Images--------->


<div class="containe">
    <div class="loader"></div>
  </div>




    <!--            Desktop-Header                 -->

        <!--            Slider-Section                 -->


        <div class="container-fluid img-width ">

            <div class="slider" data-aos="zoom-in">


                <div class="slide">
                        <div class="slider-img-box">
                                <img src="img/Slider13.jpg"alt="There is no path"/>
                        </div>

                        <div class="slider-content-box">

                            <h2>slider 1</h2>
                        </div>

                </div>

                <div class="slide">

                    <div class="slider-img-box">
                        <img src="img/Slider15.jpg"alt="There is no path"/>
                     </div>

                    <div class="slider-content-box">

                        <h2>slider 2</h2>

                    </div>

                </div>

                <div class="slide">

                    <div class="slider-img-box">

                            <img src="img/Slider15.jpg"alt="There is no path"/>
                    </div>

                    <div class="slider-content-box">

                        <h2>slider 3</h2>

                    </div>

                </div>

                <div class="slide">

                        <div class="slider-img-box">

                                <img src="img/banner-04.jpg"alt="There is no path"/>
                        </div>

                    <div class="slider-content-box">

                        <h2>slider 4</h2>

                    </div>

                </div>



                <span class="left-arrow" onclick="controller(-1)"><i class="fas fa-arrow-left"></i></span>
                <span class="right-arrow"onclick="controller(1)"><i class="fas fa-arrow-right"></i></span>


            </div>

        </div>







<!--            Course-Section             -->
<div class="container-fluid course-i">


    <div class="container">


        <div class="Container-Heading " data-aos="fade-right" >
                <h2>COURSES IN LAL BAHADUR SHASTRI TRAINING INSTITUTE</h2>
                <p class="line-hide">LET'S BUILD THE CAREER</p>
        </div>


        <div class="flex-boxes">

                        <div class="courses-content"data-aos="zoom-in-right" href="pages/diploma.html">

                                    <div class="img-box">
                                            <img src="img/Slider3.png"/>
                                    </div>


                                    <div class="content-course-box">
                                        <h4>DIPLOMA COURSES</h4>
                                        <p>Diploma in IT or Diploma in Information Technology is a one to Two-year course. The course programme focuses on IT technologies, its applications, computer, IT engineering, amongst others.</p>
                                        <a href="pages/diploma.html">Read Here <i class="fas fa-arrow-right"></i></a>
                                    </div>

                        </div>


                        <div class="courses-content"data-aos="zoom-in-up">

                                <div class="img-box">
                                        <img src="img/Slider3.png"/>
                                </div>


                                <div class="content-course-box">
                                    <h4>CERTIFICATE COURSES</h4>
                                    <p>These certificate courses last for six to one year of duration.A certificate program is a specialized education designed to develop or strengthen specific career skills. it builds on your knowledge of a particular career or industry.</p>
                                    <a href="pages/certificate.html">Read Here <i class="fas fa-arrow-right"></i></a>
                                </div>


                        </div>







                        <div class="courses-content"data-aos="zoom-in-up">

                            <div class="img-box">
                                    <img src="img/Slider3.png"/>
                            </div>


                            <div class="content-course-box">
                                <h4>FEMALE COURSES </h4>
                                <p>These free courses are designed to help women navigate biases and barriers while advancing their careers in marketing.</p>
                                <a href="pages/female course.html">Read Here <i class="fas fa-arrow-right"></i></a>
                            </div>


                        </div>






                        <div class="courses-content"data-aos="zoom-in-left">


                                <div class="img-box">
                                        <img src="img/Slider3.png"/>
                                </div>

                                <div class="content-course-box">
                                    <h4>digital marketing</h4>
                                    <p>Digital marketing, also called online marketing, is the promotion of brands to connect with potential customers using the internet and other forms of digital communication. This includes not only email, social media, and web-based advertising, but also text and multimedia messages as a marketing channel.</p>
                                    <a href="#">Read Here <i class="fas fa-arrow-right"></i></a>
                                </div>


                        </div>







                    <div class="courses-content"data-aos="zoom-in-right">


                                <div class="img-box">
                                        <img src="img/Slider3.png"/>
                                </div>


                                <div class="content-course-box">
                                    <h4>TRAINING COURSES</h4>
                                    <p>Teacher education or teacher training refers to the policies, procedures, and provision designed to equip (prospective) teachers with the knowledge, attitudes, behaviors, approaches, methodologies and skills they require to perform their tasks effectively in the classroom, school, and wider community.</p>
                                    <a href="#">Read Here <i class="fas fa-arrow-right"></i></a>
                                </div>


                    </div>







                    <div class="courses-content"data-aos="zoom-in-left">


                                <div class="img-box">
                                        <img src="img/Slider3.png"/>
                                </div>


                                <div class="content-course-box">
                                    <h4>UNIVERSITY COURSES</h4>
                                    <p>A course is a syllabus item offered by the University. You undertake courses to complete your program requirements. University Course means the Postgraduate or Undergraduate course selected by you to progress onto following successful.</p>
                                    <a href="#">Read Here <i class="fas fa-arrow-right"></i></a>
                                </div>

                    </div>



            </div>




     </div>


</div>








    <!-- Arrow Down background -->

    <div class="arrow bounce">
        <a class="fa fa-arrow-up fa-2x" href="#"></a>
      </div>


















  <!-- Fixed backgroud -->



<div class="container-fluid Back-img" data-aos="fade-up">

    <div class="fixed-img-Title">

        <div class="title-scroll"data-aos="fade-right">
             <h3>We Have 107+ million learners around the world are building new skills and confidence.</h3>
         </div>

         <div class="para-scroll"data-aos="fade-up">
             <p><b>We believe</b> Learning is the source of human progress. Lal Bahadru Shastri Training Institute is the world online / offline learning platform that offers anyone, anywhere access to online courses</p>
        </div>

        <span data-aos="fade-right"><a href="#">Hear From Our Community</a></span>

    </div>

</div>



    <!-- Map Location -->
    <div class="container-fluid"data-aos="zoom-in-up">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d275.62872063152076!2d77.36032507450479!3d28.681648471597406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfa898c00001d%3A0xcf4634ea3dd9fee8!2sLal%20Bhadur%20Shastri%20Training%20Institute!5e0!3m2!1sen!2sin!4v1663836840616!5m2!1sen!2sin" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>





<!---Footer Section----->

<%- include('../common/footer'); %>



    <!-- JavaScript Bundle with Popper -->



    <script src="../../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="../../assets/js/script.js"></script>


<script>
    AOS.init();
  </script>
