
  <link href="../assets/css/header.css" rel="stylesheet"/>
  <link href="../assets/css/footer.css" rel="stylesheet"/>
<link href="../assets/css/Coursestyle.css" rel="stylesheet"/>
<link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!---Header Contents---->


    <%- include('../common/header'); %>







    <!---Content---->


    <!--            Heading-Section                 -->


        <div class="container-fluid">
            <div class="container">
                <div class="about-heading"data-aos="fade-right">
                    <h1>Oracle (SQL)</h1>
                </div>



            </div>
         </div>


  <!--            Diploma-Section                 -->

  <div class="container-fluid diploma-bg">

    <div class="container">

        <div class="course-details-box">

            <div class="course-content-box">
                <div class="courses-semester">
                <div class="content-box">
                    <div class="course-heading">
                        <h4 data-aos="fade-left">
                            About Our Oracle (SQL)
                        </h4>
                    </div>


                            <!-- <div class="semester-i">
                                 <div class="about-course">
                                     <table>

                                        <tr data-aos="fade-up">
                                            <td>Confidence Buliding</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Discussion on Current Affairs</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Debate</td>
                                        </tr >

                                        <tr data-aos="fade-up">
                                            <td>Style in speaking Sentence</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td >Phonetics</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Personality Development</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Body Language ( gesture)</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Facing Interview</td>
                                        </tr>


                                        <tr data-aos="fade-up">
                                            <td>Frequency asked question in interview</td>
                                        </tr>
                                        <tr data-aos="fade-up">
                                            <td>Addressing</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Presentaion</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Fluency  Tech ( 10 types)</td>
                                        </tr>




                                </table>

                            </div>
 -->






                                <!-- <div class="semester-ii">

                                    <table>
                                        <tr data-aos="fade-up">
                                            <th>Semester-II</th>
                                        </tr data-aos="fade-up">

                                        <tr data-aos="fade-up">
                                            <td>Tally (Basic & Advance)With GST</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Programming with C</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>C++ Programming Using LOOPS</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Visual Basic</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Java</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>HTML,DHTML</td>
                                        </tr>

                                        <tr data-aos="fade-up">
                                            <td>Presentation</td>
                                        </tr>

                                </table>
                            </div> -->


                        </div>

                    </div>
                </div>


            </div>


            <div class="more-courses">

                <div class="more-content-box">







                        <div class="more-heading">
                            <h4 data-aos="fade-up">Course Details</h4>
                        </div>

                                <div class="coursefee-box">

                                        <table>
                                                    <tr data-aos="fade-up">
                                                        <th >Course Fees:</th>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <td>Rs.2500/-</td>
                                                    </tr>

                                                    <tr data-aos="fade-up">
                                                        <th>Course Duration:</th>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <td>2 Months</td>
                                                    </tr>

                                                    <tr data-aos="fade-up">
                                                        <th>Registration Charges:</th>
                                                    </tr>

                                                    <tr data-aos="fade-up">
                                                        <td>NA</td>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <th>Study Material Charges:</th>
                                                    </tr>

                                                    <tr data-aos="fade-up">
                                                        <td>NA</td>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <th>Total Examination Charges:</th>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <td>Rs. 300/-</td>
                                                    </tr>
                                                    <tr data-aos="fade-up">
                                                        <td id="admission"> <a href="#">Admission Inquiry</a></td>
                                                    </tr>






                                            </table>



                                </div>





























                        <div class="more-heading">
                            <h4 data-aos="fade-up">Related Courses</h4>
                        </div>

                        <div class="heading-content">
                                <ul>

                                    <li data-aos="fade-up"><a href="#">Diploma Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Certificate Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Digital Marketing</a></li>
                                    <li data-aos="fade-up"><a href="#">Female Courses</a></li>
                                    <li data-aos="fade-up"><a href="#">Teacher Courses</a></li>

                                </ul>

                        </div>



                </div>




            </div>


        </div>





    </div>

  </div>










    <!-- Arrow Down backgroud -->

    <div class="arrow bounce">
      <a class="fa fa-arrow-up fa-2x" href="#"></a>
    </div>














    <!-- Fixed backgroud -->



  <div class="container-fluid Back-img" data-aos="fade-up">

      <div class="fixed-img-Title">

          <div class="title-scroll"data-aos="fade-right">
               <h3>We Have 107+ million learners around the world are building new skills and confidence.</h3>
           </div>

           <div class="para-scroll"data-aos="fade-up">
               <p><b>We believe</b> Learning is the source of human progress. Lal Bahadru Shastri Training Institute is the world online / offline learning platform that offers anyone, anywhere access to online courses</p>
          </div>

          <span data-aos="fade-right"><a href="#">Hear From Our Community</a></span>

      </div>

  </div>






  <!---Contents----->

  <%- include('../common/footer'); %>



      <!-- JavaScript Bundle with Popper -->
      <script src="../../assets/js/jquery-3.6.1.min.js"></script>
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="../../assets/js/script.js"></script>


  <script>
      AOS.init();
    </script>
