


    * {

        margin: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: none;
    }

    body{
        position: relative;
    }


    html{
        scroll-behavior: smooth;
    }

    #arrowdown{

        width: 200px;
        height: 400px;
        background-color: #6495ed;
        display: inline-block;
        position: absolute;
        bottom: 2%;
        right: 2%;

    }



    /* body{



    } */



    /*         loader-Desktop            */

    /* .loader{

        height: 100vh;
        width: 100% !important;
        position: fixed;
        background: white url(../img/Loading.gif) no-repeat center center;
        z-index: 2000000 !important;

    }
    */


    /*         Cursor-Desktop            */
    /* .cursor{

        background-color: aliceblue;
        width: 50px;
        height: 50px;
        display: inline-block;
        z-index: 3000000;
        position: fixed !important;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        transition:all 0.07s;
        mix-blend-mode: difference;

    } */


    /*         Header-Desktop            */
    .header-one{

        position: sticky;

        top: 0%;
        z-index: 999999;
        background: linear-gradient(180deg, rgba(255,253,171,1) 13%, rgba(255,255,255,0) 100%);



    }

    .header-tab{

        display: none;

    }

    .header-container{

        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    .header-one .header-logo{

        display: inline;

    }

    .header-one .header-logo img{

        position: absolute;
        z-index: 100000 !important;
        left: 25px;
        top: 7px;
        width: 80px;

    }

    .header-one .desktop-header-content ul{

        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 100px;
        top: 10px;

    }

    .header-one .desktop-header-content ul li a {

        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 10px 10px;
        font-size: 0.9em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .header-one .desktop-header-Contact-info ul{

        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        right: -120px;
        top: 10px;

    }


    .header-one .desktop-header-Contact-info ul li a{

        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 0.9em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .desktop-header-Contact-info ul #bars {
        display: none;
    }



    #toggle-click{

        position: absolute;
        top: 100%;
        right: 0px;
        z-index: 90;

        display: none;

    }


    #toggle-click ul{

    list-style: none;

    }

    #toggle-click ul li{

    padding: 0px;
    background-color: black;
    opacity: 0.8;

    }

    #toggle-click ul li a{

    padding: 20px 50px;

    display: block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;


    }

    #toggle-click ul li a:hover li{


    background-color: #FFFDAB;

    }










    /*        Hover On Anchor       */


    .desktop-header-content li a::before{

        content: '';
        display: inline-block;
        background-color: #df4848;
        height: 2px;
        width: 0px;
        position: absolute;
        bottom: 20%;
        transition: all 1s;

    }

    .desktop-header-content li a:hover:before{
        content: '';
        display: inline-block;
        background-color: #df4848;
        height: 2px;
        width: 30px;
        position: absolute;
        bottom: 20%;
        transition: all 1s;

    }

    .desktop-header-Contact-info li a::before{

        content: '';
        display: inline-block;
        background-color: #df4848;
        height: 2px;
        width: 0px;
        position: absolute;
        bottom: 20%;
        transition: all 1s;

    }

    .desktop-header-Contact-info li a:hover:before{
        content: '';
        display: inline-block;
        background-color: #df4848;
        height: 2px;
        width: 30px;
        position: absolute;
        bottom: 20%;
        transition: all 1s;

    }






        /*        about-heading        */


    .about-heading{
        margin-top: 50px;
        margin-bottom: 0px;
        text-align: center;
    }





















        /*        Diploma Course Detials       */



    .diploma-bg{


            margin: 30px 0px 0px 0px;
            background-color: #FFFCC7;

    }
    .course-details-box{

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        margin: 20px 0px;

    }

    .course-content-box{

        width: 70%;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;

    }

    .courses-semester{
        display: block;
        justify-content: space-around;
    }

    .about-course,.semester-ii{
        display: inline-block;

    }

    .semester-ii {

        margin-left: 0px;
        vertical-align: top;
    }

    .more-courses{


        width: 30%;
        padding: 20px 0px;
        position: relative;
        top: 0%;


    }
    .more-heading{
        text-align: center;
    }

    .more-content-box .heading-content ul{

        list-style: none;
        padding: 0px;

    }

    .more-content-box .heading-content ul li{

        list-style: none;
        padding: 0px;
        border: 1px solid black;
        text-align: center;
        overflow: hidden;

    }

    .more-content-box .heading-content ul li a{


        display: inline-block;
        padding: 20px 30px;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 1.2em;
        text-transform:capitalize;


    }

    .more-content-box .heading-content ul li a:hover li{


    background-color: #FFFDAB;


    }

    .about-course table td {

        margin-top: 5px;
        display: inline-block;

    }

    .sub-heading{

        font-weight: bold;
    }

    .coursefee-box{

        margin-bottom: 20px;
    }

    .coursefee-box table tr td:nth-child(-n+2) {

        margin-bottom: 10px;

    display: inline-block;

    }


    #admission{

        background-color: black;
        opacity: 0.9;
        text-align: center;
        overflow: hidden;
    }

    #admission a{

        color:white;
        text-align: center;
        padding: 10px 80px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    }








        /*        Arrow backgroud        */


        .arrow a {
            font-size: 1em;
            color: white; text-decoration: none;

        }

        .arrow {
            text-align: center;
            margin: 0 0 8% 0;

            position: fixed;
            bottom: 0px;
            right: 4%;
            z-index: 99999;
            border-radius: 5px;
            background-color: black;
            display: none;
            padding: 20px;

        }
        .bounce {
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        }

        @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
        }

























        /*        Fixed backgroud        */

        .Back-img{
        height: 400px;
        display: inline-block;
        position: relative;

        background-image: url('../images/scholarship.jpg');
        background-position: absolute;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
        margin-bottom: 0px;
        color: aliceblue;

    }

    .fixed-img-Title{
        background-color: black;
        display: inline-block;
        padding: 20px;
        height: 400px;
        width: 40%;
        position: absolute;
        top:0%;
        left:10%;
        opacity: 0.6;

    }


    .fixed-img-Title h3{

        color: white;
        margin-top: 40px;
        font-size: 1.4em;


    }


    .fixed-img-Title p{

        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 0.8em;

    }

    .Back-img span a{
        padding: 15px 25px;
        border: 2px solid white;
        border-radius: 6px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        margin: 0px auto;
        font-size: 1em;
    }

    .Back-img span a:hover{

        background-color: white;
        color: black !important;
        text-decoration: none;
        margin: 0px auto;
        font-size: 1em;
    }













    /*        Footer Contents         */



    .footer{
        background-color: none;
        display: flex;
        justify-content: space-around;
        padding: 30px;
        width: 100%;
        flex-wrap: wrap;

    }
    .footer-changes{

        text-decoration: none;
        color: #6C757D;

    }


    .footercolor{

        background-color: black;

    }
    .footer{

        background-color: none;
        color: #6C757D;
        overflow: hidden;

    }

    .footer-section{

        width: 20%;

    }

    .footer .footer-section ul{

        list-style: none;
        padding: 0px;

    }


    .footer .footer-section ul li{

        padding: 0px;
        line-height: 30px;

    }


    .footer .footer-section ul li a, .footer a{

        padding: 15px;
        color: #6C757D;
        text-decoration: none;

    }


    .footer .footer-section ul li a:hover{

        color: antiquewhite;

    }

    .footer a:hover{

        color: antiquewhite;

    }

    .Copyright{

        text-align: center;
        color: #6C757D;
        font-weight: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }







    /*        max-width:1150px          */

    @media(max-width:1150px) {

        .header-one .desktop-header-Contact-info ul li a,
        .header-one .desktop-header-content ul li a
        {

            font-size: 0.8em;
            padding: 10px 8px;

        }

        .header-one .desktop-header-content ul li a
        {

            left: -60px;

        }






    }


    @media (max-width:1142px) {


    }



    @media(max-width:1024px) {

        .flex-boxes .img-box
        {

            height: 108px;

        }
        .container-fluid .content-course-box
        {

            padding: 5px 5px 10px 5px;
            text-align: center;

        }
        .container-fluid .content-course-box p
        {

            padding: 5px 5px 10px 5px;
            text-align: justify;

        }
        .container-fluid .content-course-box h4 {

            text-align: center;
            margin: 5px 0px;
        }

        .Container-Heading p:before {
            content: '';
            width: 150px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            left: 15%;
            top: 85%;
        }

        .Container-Heading p::after {
            content: '';
            width: 150px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            right: 15%;
            top: 85%;
        }

        .course-content-box{

            width: 60%;
            padding: 20px 40px;

        }

        .more-courses{


            width: 40%;
            padding: 20px 40px;
            position: relative;
            top: 0%;


        }

            .about-course table td {

                margin-top: 5px;
                display: inline-block;
                text-align: left;
                font-size: 0.9em;

            }
            .container, .container-md, .container-sm {
                max-width: 859px;
            }









    }




    /*        max-width:990px           */
    @media (max-width:990px){





    }





    /*        max-width:920px           */
    @media (max-width:920px){


        .header-one
        {

            display: none;

        }

        .header-tab
        {

            display: block;

        }

        .slots
        {

            display: flex;
            justify-content: space-between;

        }

        .slots>.contact-info
        {

            display: flex;
            justify-content: start;
            width: 60%;
            background-color: #6495ed;

        }

        .contact-info>div>a
        {

            text-decoration: none;
            color: black;
            display: inline-block;
            margin: 10px 15px 0 0;

        }

        .contact-info>div>a>i
        {

            margin: 0 25px 0 5px;

        }

        .contact-info>div>a>.fa-phone
        {

            transform: rotate(270deg);

        }

        .slots>.booking
        {

            padding: 10px 25px;
            width: 40%;
            text-align: center;
            background-color: #fbfb27;

        }

        .slots>.booking a {

            text-decoration: none;
            color: black;

        }

        .for-admin {

            display: flex;
            justify-content: space-between;
            position: relative;
            background-color: #FFFCC7;

        }

        .logo-img>a>img
        {

            width: 80px;
            position: absolute;
            left: 15px;
            top: 5px;
            z-index: 10000;

        }

        .admission
        {

            display: flex;

        }

        .admit-link>a
        {

            display: inline-block;
            padding: 15px 30px;
            background-color: blue;
            color: white;
            text-decoration: none;
            font-weight: 900;
            border-radius: 35px;
            margin: 5px 10px;

        }
        .admit-link>a:hover
        {

        background-color:#FBFB27;
        color:black;

        }

        .toggle-btn
        {

            display: flex;
            flex-direction: column;
            margin: 20px 25px;

        }

        .toggle-btn>.toggle
        {

            width: 30px;
            height: 4px;
            background-color: black;
            margin: 2px;

        }


        .footer-section
        {

            width: 50%;

        }


        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 40%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title h3{
            font-size: 1.4em;
        }

        .fixed-img-Title .para-scroll{

            font-size:1em;
        }


        .Back-img span a{
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 1em;
        }



        .course-content-box{

            width: 100%;
            padding: 20px 40px;

        }

        .more-courses{


            width: 100%;
            padding: 20px 40px;
            position: relative;
            top: 0%;


        }

            .about-course table td {

                margin-top: 5px;
                display: inline-block;
                text-align: left;
                font-size: 0.9em;

            }


    }












        /*        max-width:768px           */

        @media(max-width:768px){


            .more-content-box .heading-content ul li a{


                display: inline-block;
                padding: 10px 20px;
                text-decoration: none;
                color: black;
                text-align: center;
                font-size: 1em;
                text-transform:capitalize;



            }
            .course-content-box{

                width: 100%;
                padding: 20px 40px;

            }

            .more-courses{

                width: 100%;
                padding: 20px 40px;
                position: relative;
                top: 0%;


            }

                .about-course table td {

                    margin-top: 5px;
                    display: inline-block;
                    text-align: left;
                    font-size: 0.9em;

                }



        }



        /*        max-width:767px           */

        @media(max-width:767px){

            .container, .container-sm
            {

                max-width: 626px;

            }


            .fixed-img-Title {
                background-color: black;
                display: inline-block;
                padding: 20px;
                height: 400px;
                width: 50%;
                position: absolute;
                top: 0%;
                left: 10%;
                opacity: 0.6;
            }

            .fixed-img-Title h3{
                font-size: 1.4em;
            }

            .fixed-img-Title .para-scroll{

                font-size:1em;
            }


            .Back-img span a{
                padding: 10px 20px;
                border: 1px solid white;
                border-radius: 6px;
                background-color: transparent;
                color: white;
                text-decoration: none;
                margin: 0px auto;
                font-size: 1em;
            }

            .course-content-box{

                width: 100%;
                padding: 20px 40px;

            }

            .more-courses{


                width: 100%;
                padding: 20px 40px;
                position: relative;
                top: 0%;


            }

                .about-course table td {

                    margin-top: 5px;
                    display: inline-block;
                    text-align: left;
                    font-size: 1.1em;



                }



                .arrow {

                    right: 8%;


                }




        }








    /*        max-width:670px           */

    @media(max-width:670px){



        .slider span{

            font-size:1.2em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }



        .slots>.booking,
        .contact-info>div
        {

            font-size: 0.8em;

        }

        .contact-info>div>a>i
        {

            margin: 0 10px 0 5px;

        }

        .admit-link>a {

            padding: 10px 20px;
            font-size: 0.8em;
            margin-top: 17.5px;

        }

        .footer-section
        {

            width: 50%;

        }

        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 71%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title h3{
            font-size: 1.4em;
        }

        .fixed-img-Title .para-scroll{

            font-size:1em;
        }


        .Back-img span a{
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 1em;
        }

        .arrow {

            right: 8%;padding:13px;


        }








    }






    /*        max-width:600px           */
    @media(max-width:600px) {





            .mail-to
            {

                display: none;

            }

            .contact-info>div>a>i
            {

                margin: 0 20px;

            }

            .slots>.booking,
            .contact-info
            {

                width: 50%;

            }

            .toggle-btn
            {

                margin: 22.5px;

            }


            .arrow {

                right: 8%;padding:13px;


            }






        }









        /*        max-width:599px           */

        @media(max-width:599px){



            .fixed-img-Title {
                background-color: black;
                display: inline-block;
                padding: 20px;
                height: 400px;
                width: 71%;
                position: absolute;
                top: 0%;
                left: 10%;
                opacity: 0.6;
            }

            .fixed-img-Title .para-scroll{

                font-size: 00.8em;
            }


            .Back-img span a{
                padding: 5px 10px;
                border: 1px solid white;
                border-radius: 6px;
                background-color: transparent;
                color: white;
                text-decoration: none;
                margin: 0px auto;
                font-size: 0.8em;
            }



            .course-content-box{

                width: 100%;
                padding: 20px 40px;

            }

            .more-courses{


                width: 100%;
                padding: 20px 40px;
                position: relative;
                top: 0%;


            }

                .about-course table td {

                    margin-top: 5px;
                    display: inline-block;
                    text-align: left;
                    font-size: 0.9em;

                }


                .arrow {

                    right: 8%;
                    padding:13px;


                }




    }





        /*        max-width:500px           */

        @media(max-width:500px){

        .footer-section
        {

            width: 100%;
            text-align: center;
            margin-top: 20px;

        }

        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 71%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title .para-scroll{

            font-size: 00.8em;
        }


        .Back-img span a{
            padding: 5px 10px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 0.8em;
        }



        .course-content-box{

            width: 100%;
            padding: 20px 40px;

        }

        .more-courses{


            width: 100%;
            padding: 20px 40px;
            position: relative;
            top: 0%;


        }

            .about-course table td {

                margin-top: 5px;
                display: inline-block;
                text-align: left;
                font-size: 0.9em;

            }

            .arrow {

                right: 8%;
                padding:13px;


            }




    }





        /*        max-width:460px           */

    @media(max-width:465px){






    }






        /*        max-width:425px           */

        @media(max-width:425px){


        .footer-section
            {

                width: 100%;
                text-align: center;
                margin-top: 20px;

            }


            .arrow {

                right: 8%;
                padding:13px;


            }





        }








        /*        max-width:390px           */

        @media(max-width:390px){



            .slots>.booking
            {

                width: 60%;

            }

            .contact-info
            {

                width: 40%;

            }

            .contact-info>div>a>i
            {

                margin: 0 10px;

            }
            .footer-section
            {

                width: 100%;
                text-align: center;
                margin-top: 20px;

            }


            .fixed-img-Title {
                background-color: black;
                display: inline-block;
                padding: 20px;
                height: 400px;
                width: 71%;
                position: absolute;
                top: 0%;
                left: 10%;
                opacity: 0.6;
            }
            .fixed-img-Title .title-scroll{
                margin-top: 0px;
            }

            .fixed-img-Title p{

                font-size: 0.8em;
                margin-top: 0px;
                margin-bottom: 20px;

            }
            .fixed-img-Title .h3{


                margin-top: 10px;
                margin-bottom: 10px;

            }


            .Back-img span a{
                padding: 5px 10px;
                border: 1px solid white;
                border-radius: 6px;
                background-color: transparent;
                color: white;
                text-decoration: none;
                margin: 0px auto;
                font-size: 0.8em;
            }






            .course-content-box{

                width: 100%;
                padding: 20px 40px;

            }


            .more-courses{


                width: 100%;
                padding: 20px 40px;
                position: relative;
                top: 0%;


            }

                .about-course table td {

                    margin-top: 5px;
                    display: inline-block;
                    text-align: left;
                    font-size: 1em;

                }

                #admission a {

                    padding: 12px 20px;
            }

            .arrow {

                right: 8%;
                padding:13px;


            }






    }











    @media(max-width:320px){



        .container-fluid{
            overflow-y: scroll;
        }

        .admit-link
        {

            display: none;

        }

        .text-center
        {

            overflow: hidden;

        }

        .footer-section
        {

            width: 100%;
            text-align: center;
            margin-top: 20px;

        }

        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 71%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title .para-scroll{

            font-size: 0.8em;
            margin-top: 20px;
            margin-bottom: 20px;
        }


        .Back-img span a{
            padding: 5px 10px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 0.8em;
        }










    .course-content-box{

        width: 100%;
        padding: 20px 40px;

    }

    .more-courses{


        width: 100%;
        padding: 20px 40px;
        position: relative;
        top: 0%;


    }

        .about-course table td {

            margin-top: 5px;
            display: inline-block;
            text-align: left;
            font-size: 0.9em;

        }


        #admission a {

            padding: 12px 20px;
    }


        .arrow {

            right: 8%;padding:13px;


        }





    }
