:root {
  --animate-delay: 3s;
}




* {

    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: none;
}


html{
    scroll-behavior: smooth;
}



/* body{



} */



/*         loader-Desktop            */

.loader{

    height: 100vh;
    width: 100% !important;
    position: fixed;
    background: white url(../images/bookloading.gif) no-repeat center center;
    z-index: 2000000 !important;

}



/*         Cursor-Desktop            */
/* .cursor{

    background-color: aliceblue;
    width: 50px;
    height: 50px;
    display: inline-block;
    z-index: 3000000;
    position: fixed !important;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition:all 0.07s;
    mix-blend-mode: difference;

} */


/*         Header-Desktop            */
.header-one{

    position: sticky;

    top: 0%;
    z-index: 999999;
    background: linear-gradient(180deg, rgba(255,253,171,1) 13%, rgba(255,255,255,0) 100%);

}

.header-tab{

    display: none;

}

.header-container{

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-one .header-logo{

    display: inline;

}

.header-one .header-logo img{

    position: absolute;
    z-index: 100000 !important;
    left: 25px;
    top: 7px;
    width: 80px;

}


.header-one .desktop-header-content ul{

    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 10px;

}

.header-one .desktop-header-content ul li a {

    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 10px;
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-one .desktop-header-Contact-info ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    right: -120px;
    top: 10px;

}


.header-one .desktop-header-Contact-info ul li a{

    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.desktop-header-Contact-info ul #bars{
    display: none;
}

#toggle-click{

    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 90;

    display: none;

}


#toggle-click ul{

   list-style: none;

}

#toggle-click ul li{

    padding: 0px;
    background-color: black;
    opacity: 0.8;

}

#toggle-click ul li a{

    padding: 20px 50px;

    display: block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}

#toggle-click ul li a:hover li{


    background-color: #FFFDAB;

 }









/*        Hover On Anchor       */


.desktop-header-content li a::before{

    content: '';
    display: inline-block;
    background-color: #df4848;
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: 20%;
    transition: all 1s;

}

.desktop-header-content li a:hover:before{
    content: '';
    display: inline-block;
    background-color: #df4848;
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 20%;
    transition: all 1s;

}

.desktop-header-Contact-info li a::before{

    content: '';
    display: inline-block;
    background-color: #df4848;
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: 20%;
    transition: all 1s;

}

.desktop-header-Contact-info li a:hover:before{
    content: '';
    display: inline-block;
    background-color: #df4848;
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 20%;
    transition: all 1s;

}















/*        slider-container       */

.slider{

    display: inline-block;
    background-color: #df4848;
    width: 100%;
    position: relative;
    overflow: hidden;

}


.img-width{
   padding-left: 0%;
   padding-right: 0%;
   margin-left: auto;
   margin-right: auto;
}



.slide{

    background-color: #F8F7DF;
    display: none;


}

.slider-img-box{


    overflow: hidden;
    text-align: center;

}

.slider-img-box img{

    width: 100%;
}

.slider-content-box{

    padding: 20px;
    background-color: #fbfb27;
    position: absolute;
    top: 20%;
    left: 20%;
    display: none;



}

.slider span{

    font-size:2em;
    top: 50%;
    cursor: pointer;

}

.slider .left-arrow{

    position: absolute;
    left: 90px;


}
.slider .right-arrow{

    position: absolute;
    right: 90px;


}




/*         Course-Section        */
.course-i{

    background-color: #f8f7df;

}
.container{

    padding: 10px;

}

.flex-boxes,.footer{

    background-color: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    flex-wrap: wrap;

}

.flex-boxes  img{

   width: 100%;

}

.flex-boxes .img-box{

    width: 100%;
    height: 150px;
    overflow: hidden;

}

.content-course-box h4 {

    margin: 15px 0px;
    text-align: left;

}
.courses-content{

    border-radius: 5%;
    box-shadow: 0px  0px  2px  0px  black;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
    background-color: #f8f7df;

}

.Container-Heading p:before{

    content: '';
    width: 200px;
    height: 2px;
    display: block;
    background-color: #df4848;
    position: absolute;
    left: 20%;
    top: 82%;

}

.Container-Heading p:after{

    content: '';
    width: 200px;
    height: 2px;
    display: block;
    background-color: #df4848;
    position: absolute;
    right: 20%;
    top: 82%;

}

.courses-content:hover{

    box-shadow: 0px  0px  10px  0px  black;
    transition: all 0.6s !important;
    margin-top: 10px;

}
.content-course-box a{

    display: inline-block;
    background-color: #df4848;
    padding: 15px;
    color: #f8f8f8;
    text-decoration: none;
    border-radius: 10px;

}

.content-course-box a:hover{

    color: #f8f8f8;
    box-shadow:inset 0px  0px  10px  0px  white;

}

.container-fluid .content-course-box{

    padding: 20px;
    font-size: 0.8em;
    text-transform: capitalize;
    text-align:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container-fluid .content-course-box h4{

    margin: 20px 0px;
    text-align: left;
    text-transform: uppercase;

}

.Container-Heading{

    text-align: center;
    margin: 20px auto;
    position: relative;
}
.Container-Heading p{

    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.bg-white{

    background-color: #F8F7DF !important;
}





    /*        Arrow backgroud        */


    .arrow a {
        font-size: 1em;
        color: white; text-decoration: none;

    }

    .arrow {
        text-align: center;
        margin: 0 0 8% 0;

        position: fixed;
        bottom: 0px;
        right: 4%;
        z-index: 99999;
        border-radius: 5px;
        background-color: black;
        display: none;
        padding: 20px;

    }
    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }











  /*        Fixed backgroud        */

  .Back-img{
    height: 400px;
    display: inline-block;
    position: relative;

    background-image: url('../images/scholarship.jpg');
    background-position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    color: aliceblue;

}

.fixed-img-Title{
    background-color: black;
    display: inline-block;
    padding: 20px;
    height: 400px;
    width: 40%;
    position: absolute;
    top:0%;
    left:10%;
    opacity: 0.6;

}


.fixed-img-Title h3{

    color: white;
    margin-top: 40px;
    font-size: 1.4em;


}


.fixed-img-Title p{

    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.8em;

}

.Back-img span a{
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 0px auto;
    font-size: 1em;
}

.Back-img span a:hover{

    background-color: white;
    color: black !important;
    text-decoration: none;
    margin: 0px auto;
    font-size: 1em;
}













/*        Footer Contents         */
.footer-changes{

    text-decoration: none;
    color: #6C757D;

}


.footercolor{

    background-color: black;

}
.footer{

    background-color: none;
    color: #6C757D;
    overflow: hidden;

}

.footer-section{

    width: 20%;

}

.footer .footer-section ul{

    list-style: none;
    padding: 0px;

}


.footer .footer-section ul li{

    padding: 0px;
    line-height: 30px;

}


.footer .footer-section ul li a, .footer a{

    padding: 15px;
    color: #6C757D;
    text-decoration: none;

}


.footer .footer-section ul li a:hover{

    color: antiquewhite;

}

.footer a:hover{

    color: antiquewhite;

}

.Copyright{

    text-align: center;
    color: #6C757D;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}







/*        max-width:1150px          */

@media(max-width:1150px) {

    .header-one .desktop-header-Contact-info ul li a,
    .header-one .desktop-header-content ul li a
    {

        font-size: 0.8em;
        padding: 10px 8px;

    }

    .header-one .desktop-header-content ul li a
    {

        left: -60px;

    }
    .Container-Heading p:before
    {

        content: '';
        width: 150px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        left: 15%;
        top: 85%;

    }

    .Container-Heading p::after
    {

        content: '';
        width: 150px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        right: 15%;
        top: 85%;

    }


    .flex-boxes .img-box
    {

        width: 100%;
        height: 150px;
        overflow: hidden;

    }

    .content-course-box h4
    {

        margin: 15px 0px;
        text-align: left;

    }



}


@media (max-width:1142px) {

    .courses
    {

        width: 40%;
        flex-wrap: wrap;

    }

}



@media(max-width:1024px) {

    .flex-boxes .img-box
    {

        height: 108px;

    }
    .container-fluid .content-course-box
    {

        padding: 5px 5px 10px 5px;
        text-align: center;

    }
    .container-fluid .content-course-box p
    {

        padding: 5px 5px 10px 5px;
        text-align: justify;

    }
    .container-fluid .content-course-box h4 {

        text-align: center;
        margin: 5px 0px;
    }

    .Container-Heading p:before {
        content: '';
        width: 150px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        left: 15%;
        top: 85%;
    }

    .Container-Heading p::after {
        content: '';
        width: 150px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        right: 15%;
        top: 85%;
    }
    .courses-content{
        width: 35%;
        }
}




/*        max-width:920px           */
@media (max-width:990px){

    .courses-content
    {

        width: 45%;

    }

}





/*        max-width:920px           */
@media (max-width:920px){


    .header-one
    {

        display: none;

    }

    .header-tab
    {

        display: block;

    }

    .slots
    {

        display: flex;
        justify-content: space-between;

    }

    .slots>.contact-info
    {

        display: flex;
        justify-content: start;
        width: 60%;
        background-color: #6495ed;

    }

    .contact-info>div>a
    {

        text-decoration: none;
        color: black;
        display: inline-block;
        margin: 10px 15px 0 0;

    }

    .contact-info>div>a>i
    {

        margin: 0 25px 0 5px;

    }

    .contact-info>div>a>.fa-phone
    {

        transform: rotate(270deg);

    }

    .slots>.booking
    {

        padding: 10px 25px;
        width: 40%;
        text-align: center;
        background-color: #fbfb27;

    }

    .slots>.booking a {

        text-decoration: none;
        color: black;

    }

    .for-admin {

        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #FFFCC7;

    }

    .logo-img>a>img
    {

        width: 80px;
        position: absolute;
        left: 15px;
        top: 5px;
        z-index: 10000;

    }

    .admission
    {

        display: flex;

    }

    .admit-link>a
    {

        display: inline-block;
        padding: 10px 20px;
        background-color: blue;
        color: white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 35px;
        margin: 10px 10px;

    }
  .admit-link>a:hover
  {

    background-color:#FBFB27;
    color:black;

  }

    .toggle-btn
    {

        display: flex;
        flex-direction: column;
        margin: 20px 25px;

    }

    .toggle-btn>.toggle
    {

        width: 30px;
        height: 4px;
        background-color: black;
        margin: 2px;

    }

    .flex-boxes .img-box
    {

        height: 108px;

    }
    .container-fluid .content-course-box
    {

        padding: 5px 5px 10px 5px;
        text-align: center;

    }
    .container-fluid .content-course-box h4
    {

        text-align: center;
        margin: 5px 0px;

    }

    .flex-boxes
    {

        flex-wrap: wrap;

    }

    .courses-content
    {

        width: 40%;

    }


    .Container-Heading p:before
    {

        content: '';
        width: 130px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        left: 7%;
        top: 88%;

    }

    .Container-Heading p::after
    {

        content: '';
        width: 130px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        right: 7%;
        top: 88%;

    }


    .footer-section
    {

       width: 50%;

    }


    .fixed-img-Title {
        background-color: black;
        display: inline-block;
        padding: 20px;
        height: 400px;
        width: 40%;
        position: absolute;
        top: 0%;
        left: 10%;
        opacity: 0.6;
    }

    .fixed-img-Title h3{
        font-size: 1.4em;
    }

    .fixed-img-Title .para-scroll{

        font-size:1em;
    }


    .Back-img span a{
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        margin: 0px auto;
        font-size: 1em;
    }

}












    /*        max-width:768px           */

    @media(max-width:768px){

        .courses-content
        {

            width: 45%;

        }

        .flex-boxes .img-box
        {

            height: 120px;

        }
        .container-fluid .content-course-box
        {

            padding: 5px 5px 10px 5px;
            text-align: center;

        }
        .container-fluid .content-course-box h4
        {

            text-align: center;

        }

        .slider span{

            font-size:1.2em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }

        .arrow {

            right: 8%;padding:13px;


        }






    }



    /*        max-width:767px           */

    @media(max-width:767px){

        .container, .container-sm
        {

            max-width: 626px;

        }


        .courses-content
        {

            width: 45%;

        }

        .flex-boxes .img-box
        {

            height: 120px;

        }
        .container-fluid .content-course-box
        {

            padding: 5px 5px 10px 5px;
            text-align: center;

        }
        .container-fluid .content-course-box h4
        {

            text-align: center;

        }

        .Container-Heading p:before
        {

            content: '';
            width: 100px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            left: 7%;
            top: 88%;

        }

        .Container-Heading p::after
        {
            content: '';
            width: 100px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            right: 7%;
            top: 88%;

        }

        .slider span{

            font-size:1em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }

        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 50%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title h3{
            font-size: 1.4em;
        }

        .fixed-img-Title .para-scroll{

            font-size:1em;
        }


        .Back-img span a{
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 1em;
        }


        .arrow {

            right: 8%;padding:13px;


        }


    }








/*        max-width:670px           */

@media(max-width:670px){

    .flex-boxes
    {

        flex-wrap: wrap;

    }

    .courses-content
    {

        margin-left: 20px;
        margin-top: 20px;
        width: 40%;

    }

    .slider span{

        font-size:1.2em;
        top: 50%;
        cursor: pointer;

    }

    .slider .left-arrow{

        position: absolute;
        left: 10%;


    }
    .slider .right-arrow{

        position: absolute;
        right: 10%;

    }



    .slots>.booking,
    .contact-info>div
    {

        font-size: 0.8em;

    }

    .contact-info>div>a>i
    {

        margin: 0 10px 0 5px;

    }

    .admit-link>a {

        padding: 10px 20px;
        font-size: 0.8em;
        margin-top: 17.5px;

    }

    .footer-section
    {

        width: 50%;

    }

    .fixed-img-Title {
        background-color: black;
        display: inline-block;
        padding: 20px;
        height: 400px;
        width: 71%;
        position: absolute;
        top: 0%;
        left: 10%;
        opacity: 0.6;
    }

    .fixed-img-Title h3{
        font-size: 1.4em;
    }

    .fixed-img-Title .para-scroll{

        font-size:1em;
    }


    .Back-img span a{
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        margin: 0px auto;
        font-size: 1em;
    }


    .arrow {

        right: 8%;padding:13px;


    }





}






/*        max-width:600px           */
@media(max-width:600px) {


        .flex-boxes
        {

            flex-wrap: wrap;
            padding: 5px;

        }
        .courses-content
        {

            width: 60%;

        }



        .mail-to
        {

            display: none;

        }

        .contact-info>div>a>i
        {

            margin: 0 20px;

        }

        .slots>.booking,
        .contact-info
        {

            width: 50%;

        }

        .toggle-btn
        {

            margin: 22.5px;

        }

        .Container-Heading p:before
        {

            content: '';
            width: 70px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            left: 7%;
            top: 88%;

        }

        .Container-Heading p::after
        {
            content: '';
            width: 70px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            right: 7%;
            top: 88%;

        }

        .slider span{

            font-size:1.2em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }


        .arrow {

            right: 8%;padding:13px;


        }


    }









  /*        max-width:599px           */

    @media(max-width:599px){

        .courses-content
        {

          width: 60%;
          margin-left: 0px;

        }

        .slider span{

            font-size:1.2em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }

        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 71%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }

        .fixed-img-Title .para-scroll{

            font-size: 00.8em;
        }


        .Back-img span a{
            padding: 5px 10px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 0.8em;
        }


        .arrow {

            right: 8%;padding:13px;


        }


}





  /*        max-width:500px           */

  @media(max-width:500px){

    .courses-content
    {

      width: 60%;
      margin-left: 0px;

    }

    .footer-section
    {

        width: 100%;
        text-align: center;
        margin-top: 20px;

    }

    .slider span{

        font-size:1em;
        top: 50%;
        cursor: pointer;

    }

    .slider .left-arrow{

        position: absolute;
        left: 10%;


    }
    .slider .right-arrow{

        position: absolute;
        right: 10%;

    }

    .fixed-img-Title {
        background-color: black;
        display: inline-block;
        padding: 20px;
        height: 400px;
        width: 71%;
        position: absolute;
        top: 0%;
        left: 10%;
        opacity: 0.6;
    }

    .fixed-img-Title .para-scroll{

        font-size: 00.8em;
    }


    .Back-img span a{
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        margin: 0px auto;
        font-size: 0.8em;
    }


    .arrow {

        right: 8%;padding:13px;


    }


 }







    /*        max-width:425px           */

    @media(max-width:425px){

      .courses-content
      {

        width: 80%;
        margin-left: 0px;

      }

      .slider span{

        font-size:1em;
        top: 50%;
        cursor: pointer;

    }

    .slider .left-arrow{

        position: absolute;
        left: 10%;


    }
    .slider .right-arrow{

        position: absolute;
        right: 10%;

    }


    .Container-Heading p:before
    {

        content: '';
        width: 35px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        left: 3%;
        top: 88%;

    }

    .Container-Heading p::after
    {

        content: '';
        width: 35px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        right: 3%;
        top: 88%;

    }

     .footer-section
        {

            width: 100%;
            text-align: center;
            margin-top: 20px;

        }


        .arrow {

            right: 8%;padding:13px;


        }


   }








    /*        max-width:390px           */

    @media(max-width:390px){



        .slots>.booking
        {

            width: 60%;

        }

        .contact-info
        {

            width: 40%;

        }

        .contact-info>div>a>i
        {

            margin: 0 10px;

        }

        .flex-boxes
        {

            flex-wrap: wrap;
            padding: 5px;

        }
        .courses-content
        {

            width: 80%;
            margin-left: 0px;

        }

        .Container-Heading p:before
        {

            content: '';
            width: 40px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            left: 3%;
            top: 88%;

        }

        .Container-Heading p::after
        {

            content: '';
            width: 40px;
            height: 2px;
            display: block;
            background-color: #df4848;
            position: absolute;
            right: 3%;
            top: 88%;

        }

        .slider span{

            font-size:1em;
            top: 50%;
            cursor: pointer;

        }

        .slider .left-arrow{

            position: absolute;
            left: 10%;


        }
        .slider .right-arrow{

            position: absolute;
            right: 10%;

        }

        .footer-section
        {

            width: 100%;
            text-align: center;
            margin-top: 20px;

        }


        .fixed-img-Title {
            background-color: black;
            display: inline-block;
            padding: 20px;
            height: 400px;
            width: 71%;
            position: absolute;
            top: 0%;
            left: 10%;
            opacity: 0.6;
        }
        .fixed-img-Title .title-scroll{
            margin-top: 0px;
        }

        .fixed-img-Title p{

            font-size: 0.8em;
            margin-top: 0px;
            margin-bottom: 20px;

        }
        .fixed-img-Title .h3{


            margin-top: 10px;
             margin-bottom: 10px;

        }


        .Back-img span a{
            padding: 5px 10px;
            border: 1px solid white;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            text-decoration: none;
            margin: 0px auto;
            font-size: 0.8em;
        }


        .arrow {

            right: 8%;padding:13px;


        }


}











@media(max-width:320px){


    .content-course-box
    {

        text-align: justify;
        padding: 5px;

    }

    .flex-boxes
    {

        padding: 5px;
        width: 90%;

    }

    .flex-boxes .img-box
    {

        height: 80px;

    }

    .courses-content
    {

        border-radius: 4%;
        width: 90%;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 0.8em;

    }

    .slider span{

        font-size:1em;
        top: 50%;
        cursor: pointer;

    }

    .slider .left-arrow{

        position: absolute;
        left: 10%;


    }
    .slider .right-arrow{

        position: absolute;
        right: 10%;

    }

    .Container-Heading p:before
    {

        content: '';
        width: 29px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        left: 3%;
        top: 88%;

    }

    .Container-Heading p::after
    {

        content: '';
        width: 29px;
        height: 2px;
        display: block;
        background-color: #df4848;
        position: absolute;
        right: 3%;
        top: 88%;

    }

    .admit-link
    {

        display: none;

    }

    .text-center
    {

        overflow: hidden;

    }

    .footer-section
    {

        width: 100%;
        text-align: center;
        margin-top: 20px;

    }

    .fixed-img-Title {
        background-color: black;
        display: inline-block;
        padding: 20px;
        height: 400px;
        width: 71%;
        position: absolute;
        top: 0%;
        left: 10%;
        opacity: 0.6;
    }

    .fixed-img-Title .para-scroll{

        font-size: 0.8em;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .Back-img span a{
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        margin: 0px auto;
        font-size: 0.8em;
    }

    .arrow {

        right: 8%;padding:13px;


    }




}
