

<!--------------------------Cursor Images--------->


  <!-- <div class="cursor"></div> -->



 <!--------------------------Loader Images----


<div class="containe">
 <div class="loader"></div>
</div>

----->

 <!-- Footer Section -->



<div class="container-fiuld footercolor">

         <div class="container">

                <div class="footer">


                            <div class="footer-section"data-aos="zoom-in-up">

                                <h4>About Us</h4>
                                <p data-aos="zoom-in-up"data-aos-duration="1000">The Lok Kalyan Samajik Sanstha is a non-profit and charitable trust. It is a voluntary organization working for the development of literacy and creating awareness among the masses about Science & Technology and striving for their up-liftment  <a href="#">More..</a></p>

                            </div>



                         <div class="footer-section"data-aos="zoom-in-up">

                            <h4>Quick Links</h4>

                                <ul>
                                    <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/">Home</a></li>
                                    <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/courses">Courses</a></li>
                                    <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/gallery">Gallery</a></li>
                                    <li data-aos="zoom-in-up"><a href="https://lbstiresult.in/">Online Result</a></li>
                                    <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/Franchies">Franchies</a></li>
                                    <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/about">About Us</a></li>
                                </ul>


                            </div>


                        <div class="footer-section"data-aos="zoom-in-up">

                                <h4>Social Links</h4>

                             <ul>
                            <li data-aos="zoom-in-up"><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li data-aos="zoom-in-up"><a href=""><i class="fab fa-twitter"></i> twitter</a></li>
                            <li data-aos="zoom-in-up"><a href=""><i class="fab fa-google-plus-g"></i> Google+</a></li>
                            <li data-aos="zoom-in-up"><a href=""><i class="fab fa-instagram"></i> Instaram</a></li>
                            <li data-aos="zoom-in-up"><a href=""><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                            </ul>

                        </div>



                        <div class="footer-section"data-aos="zoom-in-up">

                            <h4>Address</h4>
                            <ul>
                            <li data-aos="zoom-in-up"><a href="https://goo.gl/maps/rdFBfZqVPGjexmuD8"><i class="fas fa-home"></i> Address: Naveen Park,IInd Floor, Above Archie Gallery Sahibabad, Ghaziabad (UP)</a></li>
                            <li data-aos="zoom-in-up"><a href="tel:+91-9311960060"><i class="fas fa-phone"></i> +91-9311960060</a></li>
                            <li data-aos="zoom-in-up"><a href="tel:0120-4133640"><i class="fas fa-phone"></i> 0120-4133640</a></li>
                            <li data-aos="zoom-in-up"><a href="mailto:lbsti100@gmail.com"><i class="fas fa-envelope"></i> lbsti100@gmail.com</a></li>

                            <li data-aos="zoom-in-up"><a href="http://www.lbsti.org/"><i class="fas fa-globe-americas"></i> lbsti.org</a></li>

                            </ul>

                         </div>



                 </div>

                 <div class="Copyright">
                    <h5 >© 2022 Copyright: LBSTI</h5>

                </div>



    </div>
</div>
