<!--------------------------Cursor Images--------->


  <!-- <div class="cursor"></div> -->



 <!--------------------------Loader Images-----


<div class="containe">
 <div class="loader"></div>
</div>

---->


 <!--            Desktop-Header                 -->


 <header class="header-one">
     <div class="header-container">
         <div class="desktop-header-icon">
             <div class="header-logo">
                 <a href="http://www.lbsti.org/"><img src="../../assets/images/logo.png" alt="There Is No Source" /></a>
             </div>
         </div>

         <div class="desktop-header-content">
             <ul>
                 <li><a href="http://www.lbsti.org/">Home</a></li>
                 <li><a href="http://www.lbsti.org/courses">Courses</a></li>
                 <li><a href="http://www.lbsti.org/gallery">Gallery</a></li>
                 <li><a href="https://lbstiresult.in/">Online Result</a></li>
                 <li><a href="http://www.lbsti.org/Franchies">Franchies</a></li>
             </ul>

         </div>
         <div class="desktop-header-Contact-info">

             <ul >
                 <li><a href="tel:+91-9311960060"><i class="fas fa-mobile-alt"></i> +91-9311960060</a></li>
                 <li><a href="mailto:lbsti100@gmail.com"><i class="fas fa-envelope"></i> lbsti100@gmail.com</a></li>
                 <li><a href="#">About</a></li>
                 <li id="bars"><a href="#"><span class="fa fa-bars"></span></a></li>

             </ul>
         </div>
     </div>
 </header>



 <!--            Mobile-Header                 -->




<header class="header-tab">
     <div class="slots">
         <div class="contact-info">
             <div class="mail-to">
                 <a href="mailto:lbsti100@gmail.com">
                     <i class="fa-solid fa-envelope"></i> lbsti100@gmail.com</a>
             </div>
             <div>
                 <a href="tel:+91-9311960060">
                     <i class="fa-solid fa-phone"></i> +91-9311960060</a>
             </div>
         </div>
         <div class="booking">
             <div class="#">
                  <a href="#">Book Free Class</a>
             </div>
         </div>
     </div>
     <div class="for-admin">
         <div class="logo-img" >
             <a href="http://www.lbsti.org/">
                 <img src="../../assets/images/logo.png" alt="There Is No Source" data-aos="fade-down"data-aos-duration="2000"/>
             </a>
         </div>
         <div class="admission">
             <div class="admit-link">
                 <a href="pages/courses.html">ADMISSION</a>
             </div>
             <div class="toggle-btn">
                 <span class="toggle"></span>
                 <span class="toggle"></span>
                 <span class="toggle"></span>

                     <div id="toggle-click">

                         <ul>
                             <li><a href="http://www.lbsti.org/">Home</a></li>
                             <li><a href="http://www.lbsti.org/courses">Courses</a></li>
                             <li><a href="http://www.lbsti.org/gallery">Gallery</a></li>
                             <li><a href="https://lbstiresult.in/">Online Result</a></li>
                             <li><a href="http://www.lbsti.org/Franchies">Franchies</a></li>
                         </ul>


                     </div>
             </div>
         </div>
     </div>
 </header>


 <script type="../js/jquery-3.6.1.min.js"></script>
 <script type="../js/script.js"></script>
